:root {
   --font-family-main: "Poppins", sans-serif;
   --my-color: #35a513;
}

@keyframes slideInFromLeft {
   0% {
      transform: translateY(-100%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes waveAnimation {
   0% {
      transform: rotate(0deg);
   }

   10% {
      transform: rotate(14deg);
   }

   20% {
      transform: rotate(-8deg);
   }

   30% {
      transform: rotate(14deg);
   }

   40% {
      transform: rotate(-4deg);
   }

   50% {
      transform: rotate(10deg);
   }

   60% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(0deg);
   }
}
